<nav class="navbar navbar-expand-sm bg-navbar navbar-dark" style="padding-left: 50px; padding-right: 50px;">
  <a class="navbar-brand" routerLink="projects">
    MawAccess
  </a>
  <!-- <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="projects" class="nav-link" routerLinkActive="active">Project List</a>
    </li>
  </ul> -->
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="projects" class="nav-link" routerLinkActive="active">Project List</a>
      </li>
      <li class="nav-item">
        <a routerLink="projects" class="nav-link" routerLinkActive="active">Project List</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
    <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer bg-light">
  <div class="container">All rights reserved 2021</div>
</footer>