<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Project List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Url</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of projects | async">
            <td>{{project.id}}</td>
            <td>{{project.name}}</td>
            <td>{{project.url}}</td>
            <td>
                <button (click)="projectDetails(project.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>